In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"data.csv")

In [3]:
data.rename(columns = {'Do you prefer a gas or electric stovetop?' : 'gas/electric',
                    'For how long are you looking to rent?' : 'rent length',
                    'How many rooms do you want?':'bedrooms',
                    'What is your budget for rent?':'price',
                    'How many bathrooms do you want?':'bathrooms',
                    'How important is it that you have a master bedroom?':'master',
                    'How important is it that you have a storage unit?':'storage?',
                    'How important is it that you a balcony/garden?':'balcony/garden',
                    'How important is it that you have also an electric heater (דוד חשמל) and a regular heater (דוד שמש)?':'electric/solar',
                    'How important, is it that you have an air-conditioner in every bedroom? ':'AC',
                    'How important is it that you have personal parking spot(s)?':'parking',
                    'How Important is it that you have a kosher Kitchen?':'SK',
                    'How important is it that you have bus routes near you?':'public transpo',
                    'Does it matter if the apartment is next to a school or a apartment complex under construction?':'loud neighborhood',
                    'Does it matter to you to be in a building that can undergo construction in the coming year/two years?':'construction to building',
                    'How Important is it that your apartment come furnished?':'furnished?',
                    'How important that the apartment be pet friendly?':'pets',
                    'How important that the apartment be smoke friendly?':'smoke',
                    'How important that the apartment have a big livingroom?':'livingroom',
                    'On which Floor would you want the apartment to be on?':'floor',
                    'How important is it which floor you are on?':'floor num',
                    'How important that the apartment have elevator access?':'accessible?',
                    'Where are you looking for an apartment?':'where',}
          , inplace = True)
data.head()

data.drop('Timestamp', inplace=True, axis=1)
data.drop('Would you rather your neighbors be students or families?', inplace=True, axis=1)
data.drop('Is it Important that your neighbors be families?', inplace=True, axis=1)
data.drop('Do you prefer your neighbors be families or singles?', inplace=True, axis=1)
data.drop('Is it important that your neighbors be students', inplace=True, axis=1)
data.drop('What type of neighborhood are you looking for?', inplace=True, axis=1)

In [4]:
data["gas/electric"].fillna(3, inplace = True)
data["bathrooms"].fillna(1.5, inplace = True)
data["master"].fillna(3, inplace = True)
data["storage?"].fillna(3, inplace = True)
data["balcony/garden"].fillna(3, inplace = True)
data["electric/solar"].fillna(3, inplace = True)
data["AC"].fillna(3, inplace = True)
data["parking"].fillna(3, inplace = True)
data["SK"].fillna(3, inplace = True)
data["public transpo"].fillna(3, inplace = True)
data["loud neighborhood"].fillna(3, inplace = True)
data["construction to building"].fillna(3, inplace = True)
data["furnished?"].fillna(3, inplace = True)
data["smoke"].fillna(3, inplace = True)
data["pets"].fillna(3, inplace = True)
data["livingroom"].fillna(3, inplace = True)
data["accessible?"].fillna(3, inplace = True)
data["rent length"].replace("1 Month", 1, regex=True, inplace = True)
data["rent length"].replace("Half a Year", 6, regex=True, inplace = True)
data["rent length"].replace("A Year", 12, regex=True, inplace = True)
data["rent length"].replace("2 years", 24, regex=True, inplace = True)
data["rent length"].replace("2 Months", 2, regex=True, inplace = True)
data["price"].replace("6100-7000, 7100-8000", 8000, regex=True, inplace = True)
data["price"].replace("6100-7000", 7000, regex=True, inplace = True)
data["price"].replace("5100-6000", 6000, regex=True, inplace = True)
data["price"].replace("4100-5000, 5100-6000", 6000, regex=True, inplace = True)
data["price"].replace("3100-4000", 4000, regex=True, inplace = True)
data["price"].replace("2100-3000", 3000, regex=True, inplace = True)
data["price"].replace("1000-2000", 2000, regex=True, inplace = True)

In [5]:
phonenumber=[]
name=[]
for i in range(len(data)):
    phonenumber.append(1000000+i)
    name.append("person"+ str(i))
data["phone number"]= phonenumber
data["name"]=name

for i in range(data.shape[0]):
    data["bedrooms"].replace(data["bedrooms"][i], data["bedrooms"][i][-1], regex=True, inplace = True)
data["bedrooms"] = data["bedrooms"].astype(int)

In [6]:
data.head()

,gas/electric,rent length,bedrooms,price,bathrooms,master,storage?,balcony/garden,electric/solar,AC,...,furnished?,pets,smoke,livingroom,floor,floor num,accessible?,where,phone number,name
0,3,6,4,3000,2.0,3,3,1,3.0,5,...,5,1.0,1,3,"First, Second",1,1,"City, Jerusalem",1000000,person0
1,3,12,4,3000,1.0,3,2,3,1.0,3,...,3,1.0,1,2,"Ground, First, Second, Third, Fourth",2,2,בקעה ירושלים,1000001,person1
2,3,12,6,8000,2.0,2,2,5,3.0,5,...,4,5.0,4,4,"Ground, First, Second",1,4,City,1000002,person2
3,4,12,3,4000,1.0,3,3,3,5.0,2,...,3,1.0,1,4,"Second, Third",4,3,City,1000003,person3
4,1,24,3,4000,1.0,5,3,5,3.0,1,...,3,5.0,5,4,"Ground, First",1,4,Yeshuv,1000004,person4

In [7]:
# data.to_csv(r'C:\Users\talia\Hackathon\Hachathon_May22\data_updated.csv')

### Algo for finding roomates

we will be getting a json with the column names in the same order as the df, some of the columns may be empty
iterate threw the rows of the df </br>
    compare each value in the df to the json value, if equal or better give 1.
    for some values if non comparable change to 0 that is score, for others give 0 for that column
    
    flag is counter to how many things totally dont match nut are an ultimatum
    
#### ultamatum (pet,smoke)
if abs(diff>=3) total 0 end this row
dif(2)=0.5
dif(<=1)=1

#### non ultametium(floor num)
if very different give zero flag to divide score by 2

#### 1-5 rank how important
find diff between json and column if abs(diff==0,1)=1 else 0.5
   
  
#### 1-5 rank opossites
find diff between json and column if abs(diff==1)=0.75 if abs(diff=2)=0.5 if abs(diff=3)=0.25 if abs(diff=4)=0 if abs(diff=0) score=1
  
    
    
### Algo for finding apartments
we will be getting a json with the column names in the same order as the df, some of the columns may be empty
iterate threw the rows of the df </br>
    compare each value in the df to the json value, if equal or better give 1.
    for some values if non comparable change to 0 that is score, for others give 0 for that column
    
    
    
#### ultamatum (pet,smoke)
if abs(diff>=3) total 0 end this row
dif(2)=0.5
dif(<=1)=1    


#### non ultametium(floor num, parking, garden/balcany)
if very different give zero flag to divide score by 2


#### 1-5 rank opossites
find diff between json and column if abs(diff==1)=0.75 if abs(diff=2)=0.5 if abs(diff=3)=0.25 if abs(diff=4)=0 if abs(diff=0) score=1

In [8]:
building=pd.read_csv("Airbnb_Milan.csv")

In [9]:
building.head()

,gas/electric,livingroom,bedrooms,bathrooms,city?,where,languages,house/building,storage?,furnished?,...,accessible?,Elevator,parking,pets,smoke,price,length of rent,public transpo,near construction,loud neighborhood
0,1,1,2,1.0,1,Ariel,EN,0,1,1,...,0,0,1,0,0,3000,1,1,0,1
1,0,1,2,1.0,1,Ariel,AM,1,0,1,...,1,1,0,0,0,3000,1,1,0,1
2,1,1,2,1.0,1,Ariel,FR,1,1,1,...,1,1,0,0,0,3000,1,1,0,1
3,0,1,1,1.0,1,Haifa,EN,1,1,1,...,0,1,1,1,0,2000,1,1,0,1
4,0,1,1,1.5,1,Ariel,AM,1,1,1,...,1,1,0,0,0,2200,1,1,0,1

In [10]:
phonenumber=[]
name=[]
for i in range(len(building)):
    phonenumber.append(110000+i)
    name.append("owner"+str(i))
building["phone number"]= phonenumber
building["name"]=name

In [11]:
building.head()

,gas/electric,livingroom,bedrooms,bathrooms,city?,where,languages,house/building,storage?,furnished?,...,parking,pets,smoke,price,length of rent,public transpo,near construction,loud neighborhood,phone number,name
0,1,1,2,1.0,1,Ariel,EN,0,1,1,...,1,0,0,3000,1,1,0,1,110000,owner0
1,0,1,2,1.0,1,Ariel,AM,1,0,1,...,0,0,0,3000,1,1,0,1,110001,owner1
2,1,1,2,1.0,1,Ariel,FR,1,1,1,...,0,0,0,3000,1,1,0,1,110002,owner2
3,0,1,1,1.0,1,Haifa,EN,1,1,1,...,1,1,0,2000,1,1,0,1,110003,owner3
4,0,1,1,1.5,1,Ariel,AM,1,1,1,...,0,0,0,2200,1,1,0,1,110004,owner4

In [12]:
# building.to_csv(r'C:\Users\talia\Hackathon\Hachathon_May22\building_updated.csv')

In [13]:
print(building.columns)
print(data.columns)

Index(['gas/electric', 'livingroom', 'bedrooms', 'bathrooms', 'city?', 'where',
       'languages', 'house/building', 'storage?', 'furnished?', 'AC',
       'accessible?', 'Elevator', 'parking', 'pets', 'smoke', 'price',
       'length of rent', 'public transpo', 'near construction',
       'loud neighborhood', 'phone number', 'name'],
      dtype='object')
Index(['gas/electric', 'rent length', 'bedrooms', 'price', 'bathrooms',
       'master', 'storage?', 'balcony/garden', 'electric/solar', 'AC',
       'parking', 'SK', 'public transpo', 'loud neighborhood',
       'construction to building', 'furnished?', 'pets', 'smoke', 'livingroom',
       'floor', 'floor num', 'accessible?', 'where', 'phone number', 'name'],
      dtype='object')